@using GridMvc.Html
@using GridMvc.Sorting
@model ICollection<BookStore.BookData>

<h1>Books Store</h1>

<div class="row js-grid-container">
@Html.Grid(Model).Columns(columns =>
{
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d =>
    @<b>
        @Html.ActionLink("Edit", "Index")
    </b>);

    columns.Add(o => o.Author).Filterable(true);

    columns.Add(o => o.Genre);

    columns.Add(o => o.Rating);

    columns.Add(o => o.Title);

}).WithPaging(15).Sortable().Filterable().WithMultipleFilters()
</div>